doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="icon" href="http://getbootstrap.com/favicon.ico")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
    title Profiles
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar sitio de muestra
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          div
            form(id="submitForm")
              .form-group
                label(for="nombre_id") Nombre:
                input(type="text" name="nombre" id="nombre_id" class="form-control" required="true")
              .form-group
                label(for="titulo_id") Título:
                input(type="text" name="titulo" id="titulo_id" class="form-control")
              .form-group
                label(for="imagen_id") Imagen:
                input(type="text" name="imagen" id="imagen_id" class="form-control-file")
              .form-group
                input(type="button" onclick="submitProfile()" value="subir" class="btn btn-primary")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="./static/app.js")